/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 432px;

// Small tablets
$screen-md-min: 834px;

// Large tablets and small desktops
$screen-lg-min: 1280px;

// X-Large desktops
$screen-xl-min: 1440px;





:root{
    --white: #ffffff;
    --champagne-pink-light: #F3DFDA;
    --champagne-pink-dark: #90817D;
    --ruddy-bronze-light: #421908;
    --indigo-dark: #516189;
    --seashell-dark: #FBF7F4;
    --tea-green: #D2ECC5;
    --tea-green-dark: #7E8E76;
    
    
}
