/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 432px;

// Small tablets
$screen-md-min: 834px;

// Large tablets and small desktops
$screen-lg-min: 1024px;





:root{
    --white: #ffffff;
    --champagne-pink-light: #F3DFDA;
    --ruddy-bronze-light: #421908;
    
}
