/* =============
    homepage hero
============= */

#homepage-hero{
    margin-top: 80px;
    text-align: center;

    #home-hero-img{
        width: 100vw;
        height: 40vw;
        background-image: url('../img/homepage/homepage-hero.png');
        background-size: cover;
        background-position: 10% 100%;
        
    }

    #hero-copy{
        position: absolute;
        top: 100px;
        width: 100vw;
        @include md{
            top: 150px
        }
        @include lg{
            top: 175px
        }
        @include xl{
            top: 200px
        }
        
        filter: drop-shadow( -10, -3, #421908);
        h1{
            font-family: 'BenchNine', sans-serif;
            font-size: rem-calc(32);
            color: var(--white);
            letter-spacing: 1rem;
            @include md{
                font-size: rem-calc(63);
            }
            @include lg{
                font-size: rem-calc(95);
            }
            @include xl{
                font-size: rem-calc(107);
            }
            
        }
        h2{
            
            font-family: 'Playfair Display', serif;
            font-size: rem-calc(12.5);
            color: var(--white);
            letter-spacing: .5rem;
            margin-top: 20px;
            @include md{
                font-size: rem-calc(24);
                margin-top: 35px;
            }
            @include lg{
                margin-top: 50px;
                font-size: rem-calc(37);
            }
            @include lg{
                font-size: rem-calc(42);
            }
            
        }
       
    }



}