#services{



}



.service-grid{
    ul{
        display: grid;
        gap: 16px;
        grid-template-columns: 50% auto;
    }
    
.service-card{
    h4{
        padding-top: 8px;
    }
    img{
        padding-top: 6px;
        // width: 100%;
    }
    p{
        padding-top: 6px;
    }
}

}

#service-cards-all{
    background-color: var(--champagne-pink-light);
    padding-top: 8px;
    padding-bottom: 16px;
}