/* =============
    Footer
============= */


footer{
    #newsletter{
        padding-top: 42px;
        display: grid;
        grid-template-columns: 38px auto 38px;
        grid-template-areas:
        ". section .";

        >div{
            grid-area: section;
        }
        form{
            display: flex;
            margin-bottom: 42px;
            input{
                width: 100%;
                margin-right: 7px;
            }
        }
        h3{
            margin-bottom: 20px;
            margin-top: 5px;
        }

        background-color: var(--tea-green);
        border-radius: 0 0 16px 16px;
    }

    #brand-icons{
        display: flex;
    }

    #newsletter-btn{
        margin-left: 16px;
    }
}