/* =============
    Header
============= */


header {

    padding: 16px 0;
    
    >div {
        display: grid;
        grid-template-columns: 20% 60% auto;
        align-items: center;
    }


    background-color: var(--seashell-dark);

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;

    #logo-container {
        display: flex;
        justify-content: center;
    }

    #icons-head {
        margin-left: auto;
        margin-right: 16px;
     
   

    }


    // justify-self: flex-end;



}

#burger-container {
    display: flex;
    justify-content: flex-start;
  




        @include lg {
            display: none;

        }




    #burger-btn {
        background: none;
        border: none;

        padding: 16px;


    }
}